*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
:root{
    --cinza: #f2f2f2;
    --branco: #fff;
    --cinza-escuro: #4D4D4D;
}
body{
    background: var(--branco);
}
/*Header*/
header{
    width: 100vw;
    height: 10vh;
    background: var(--cinza);
    position: fixed;
    z-index: 999;
    transition: .6s;
    display: flex;
    align-items: center;
    justify-content: center;
}
header.hd-Animated{
    height: 6vh;
}
header h2{
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 5px;
    font-size: 24px;
    color: var(--cinza-escuro);
}
header .menu{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header .menu ul{
    display: flex;
}
header .menu ul li a{
    font-family: 'Josefin Sans', sans-serif;
    padding: 0 40px;
    font-size: 24px;
    letter-spacing: 2px;
    color: var(--cinza-escuro);
}
header .menu ul li:hover{
    border-bottom: 1px solid var(--cinza-escuro);
}
#btn-mobile{
    display: none;
}
/*Main*/
main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*Parralax*/
main .parallax{
    height: 100vh;
    width: 100%;
    background: url(../img/bg1.jpg)no-repeat center fixed;
    margin: 0 auto;
}
/*Sobre*/
main .sobre{
    min-height: 60vh;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--cinza);
}
.sobre span{
    width: 10vw;
    border-bottom: 0.1em solid var(--cinza-escuro);
    margin: 25px 0;
}
.sobre h2{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px 0;
}
.sobre p{
    width: 25vw;
    font-size: 16px;
    line-height: calc(14px*1.5);
    font-family: 'Josefin Sans', sans-serif;
    margin: 10px 0;
}
/*Projetos*/
#projetos{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0;
}
#projetos h1{
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 50px;
    font-size: 24px;
}
#projetos .container{
    width: 90vw;
    justify-items: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
}
#projetos .container .projetos-card{
    animation: scaledown .1s linear;
    animation-fill-mode: forwards;
}
#projetos .container .projetos-card img{
    width: 500px;
    height: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}
#projetos .container .projetos-card:hover{
    animation: scale .1s linear;
    animation-fill-mode: forwards;
}
@keyframes scaledown{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
/*Contato*/
#contato{
    width: 100%;
    height: auto;
    padding: 50px 0;
    background: var(--cinza);
}
#contato .container{
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#contato h2{
    margin: 10px 0;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--cinza-escuro);
}
#contato li{
    font-size: 16px;
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;
    color: var(--cinza-escuro);
    text-align: center;
}
#contato span{
    width: 10vw;
    border-bottom: 0.1em solid var(--cinza-escuro);
    margin: 25px 0;
}
/*Footer*/
footer{
    background: var(--cinza-escuro);
    width: 100%;
    height: 15vh;
}
footer .container{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer ul{
    display: flex;
    flex-direction: row;
}
footer li{
    padding: 0 20px;
}
footer i{
    color: var(--branco);
    font-size: 24px;
}
.fa-angle-up,i{
    color: black;
}