@import './modules/default';
@import './modules/header';
@import './modules/main';
@import './modules/sobre';
@import './modules/projetos';
@import './modules/contato';
@import './modules/footer';
@import './modules/menuMobile';