@import './modules/reset.css';
@import './modules/normalize.css';

@import './modules/default.css';
@import './modules/header.css';
@import './modules/main.css';
@import './modules/sobre.css';
@import './modules/projetos.css';
@import './modules/contato.css';
@import './modules/footer.css';

@import './modules/menuMobile.css';
@import './modules/mobile.css';
