/*1700px*/
@media only screen and (max-width: 1700px){
    .sobre p{
        width: 30vw;
    }
}
/*1250px*/
@media only screen and (max-width: 1250px){
    .sobre p{
        width: 40vw;
    }
}
/*950px*/
@media only screen and (max-width: 950px){
    .sobre p{
        width: 50vw;
    }
}
/*750px*/
@media only screen and (max-width: 750px){
    .sobre p{
        width: 70vw;
    }
}
/*550px*/
@media only screen and (max-width: 550px){
    #projetos .container{
        width: 99vw;
    }
    #projetos .container .projetos-card img{
        height: 450px;
        width: 450px;
    }
}
/*460px*/
@media only screen and (max-width: 460px){
    #projetos .container .projetos-card img{
        height: 300px;
        width: 300px;
    }
}
/*800px*/
@media only screen and (max-width: 800px){
    header .menu{/*Menu-mobile*/
        justify-content: space-between;
    }
    header h2{
        margin: 0 50px;
    }
    header .menu ul{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: var(--cinza);
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    .menu.active ul{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    ul a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger{
        display: block;
        width: 20px;
        border-top: 2px solid ;
    }
    #hamburger::after,
    #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    .menu.active #hamburger{
        border-top-color: transparent;
    }
    .menu.active #hamburger::before{
        transform: rotate(135deg);
    }
    .menu.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }/*Menu-mobile*/

}