*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
}
:root{
    --bg1: #fff;
    --bg2: #e2e2e2;
    --ttl: #000;
    --txt: #000;
}
body{
    background: var(--bg1);
}
/*Header*/
header{
    width: 100%;
    height: 10vh;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header ul{
    display: flex;
}
header ul li a{
    padding: 0 50px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}
header ul li a::after{
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    background: #fff;
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform .3s ease;
}
header ul li a:hover::after{
    transform: scale(1,1);
}
/*Home*/
#home{
    height: 900px;
    width: 100%;
    background: #000;
}
#home .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .container img{
    height: 900px;
}
/*Sobre*/
#sobre{
    margin: 100px 0;
    background: var(--bg2);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#sobre h2{
    text-align: center;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--ttl);
}
#sobre .container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background: var(--bg2);
}
#sobre .container img{
    height: 500px;
    width: 500px;
    box-shadow: 0 0 10px #000;
}
#sobre .sobre-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    width: 100%;
    margin-left: 50px;
}
#sobre .sobre-texto .txt{
    margin: 20px 0;
}
#sobre .sobre-texto .txt p{
    width: 100%;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: calc(14px*1.5);    
    color: var(--txt);
}
#sobre .sobre-texto ul{
    margin-top: 20px;
}
#sobre .sobre-texto li{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: calc(14px*2);
    color: var(--txt);
    text-align: center;
}
/*Img*/
#imgs{
    background: var(--bg2);
    margin: 100px 0;
}
#imgs .text{
    padding-bottom: 100px;
}
#imgs .text h2{
    text-align: center;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--ttl);
    padding: 50px 0;
}
#imgs .text .card-container{

}
#imgs .text .card-container .card{
    animation: scaledown .1s linear;
    animation-fill-mode: forwards;
}
#imgs .text .card-container .card:hover{
    animation: scale .1s linear;
    animation-fill-mode: forwards;
}
#imgs .text .card-container .card img{
    width: 350px;
    height: 400px;
}
@keyframes scaledown{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
/*Contato*/
#contato{
    background: var(--bg2);
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
}
#contato .orcamento{
    width: 100%;
    height: auto;
    padding: 50px 0;
}
#contato .orcamento .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contato .orcamento .container h2{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--ttl);
}
#contato .orcamento .container p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--txt);
    padding: 20px 0;
}
.contato{
    padding: 50px 0;
}
.contato .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contato .container ul{
    padding: 0 50px;
    text-align: center;
}
.contato .container ul h2{
    color: var(--ttl);
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 20px 0;
}
.contato .container ul li{
    color: var(--txt);
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: calc(14px*2);
}
.contato .container ul li i{
    color: var(--txt);
    font-size: 22px;
}
footer{
    width: 100%;
    height: 5vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .container p{
    color: #fff;
    font-size: 14px;
}
footer .container a{
    color: #fff;
    font-size: 14px;
}