* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #fff;
}

header {
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: #1a1a1a;
}

header h2 {
  color: #fff;
  letter-spacing: 5px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header li + li {
  padding-left: 75px;
}

header a {
  color: #fff;
  font-size: 22px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  position: relative;
}

header a::after {
  content: '';
  width: 100%;
  position: absolute;
  height: 1px;
  background: #fff;
  left: 0;
  bottom: 0;
  -webkit-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

header a:hover::after {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

/*550*/
@media only screen and (max-width: 550px) {
  header li + li {
    padding-left: 50px;
  }
}

#sobre {
  background: radial-gradient(circle, black 55%, #0f0f0f 90%, #181819 100%);
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sobre img {
  height: 90vh;
}

/*770*/
@media only screen and (max-width: 770px) {
  #sobre .container {
    width: 100%;
    height: 90vh;
    background: url(../img/bgmobile.jpg) no-repeat center;
    background-size: 100vw 90vh;
  }
  #sobre .container img {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #fff;
}

#abbout {
  margin: 50px 0;
}

#abbout .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f3f3f3;
  padding: 50px 0;
}

#abbout .img {
  height: 600px;
  width: 500px;
}

#abbout .img img {
  height: 600px;
  width: 500px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#abbout .img img {
  -webkit-animation: scaledown .1s linear;
          animation: scaledown .1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#abbout .img img:hover {
  -webkit-animation: scale .1s linear;
          animation: scale .1s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#abbout .text {
  height: 500px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#abbout .text h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 10px;
}

#abbout .text p {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  width: 80%;
  line-height: calc(14px * 1.5);
}

#abbout .text ul {
  margin-top: 10px;
}

#abbout .text ul li {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0 10px;
  padding: 20px 0;
}

#abbout .text ul li span.circle {
  background: #000;
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 2px;
}

#abbout .text p + p {
  margin-bottom: 10px;
}

#abbout .text li + li {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes scaledown {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scaledown {
  0% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

/*850px*/
@media only screen and (max-width: 850px) {
  #abbout .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #abbout .img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #abbout .text {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

/*515*/
@media only screen and (max-width: 515px) {
  #abbout .img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #abbout .img img {
    height: 500px;
    width: 95%;
  }
  #abbout .text {
    width: 95%;
  }
}

#trabalhos .container {
  padding: 50px 0;
  background: #F3F3F3;
}

#trabalhos .container h2 {
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 50px;
}

#trabalhos .arrow-nav {
  width: 100%;
  height: auto;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#trabalhos .arrow-nav button {
  width: 50px;
  height: 25px;
  border-radius: 5px;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 40px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

#trabalhos .arrow-nav button:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
}

#trabalhos .arrow-nav button + button {
  margin-left: 50px;
}

#trabalhos .arrow-nav i {
  font-size: 12px;
}

/*Slide*/
#trabalhos .slide-wrapper {
  overflow: hidden;
}

#trabalhos .slide-wrapper .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#trabalhos .slide-wrapper .slide:hover {
  will-change: transform;
}

#trabalhos .slide-wrapper ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

#trabalhos .slide-wrapper ul li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 20px;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  opacity: .8;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: .4s;
  transition: .4s;
}

#trabalhos .slide-wrapper ul li.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#trabalhos .slide-wrapper img {
  display: block;
  height: 500px;
  width: 500px;
}

#contato {
  margin: 50px 0 0 0;
}

#contato .container {
  background: #F3F3F3;
  padding: 50px 0 0 0;
}

#contato .orcamento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px 0;
}

#contato .orcamento h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

#contato .orcamento p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

#contato .li {
  margin: 50px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#contato .li .li-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90px;
}

#contato .li .li-container h2 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
}

#contato .li .li-container li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(14px * 1.5);
  text-align: center;
}

#contato .li .li-container li i {
  color: #000;
  font-size: 22px;
  -webkit-transition: .3s;
  transition: .3s;
}

#contato .li .li-container li i:hover {
  color: #eb7a55;
}

#contato .map {
  text-align: center;
  margin: 50px 0 0 0;
}

#contato .map iframe {
  border: 3px solid rgba(0, 0, 0, 0.5);
  padding: 5px;
}

/*1300*/
@media only screen and (max-width: 1300px) {
  #contato .li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #contato .li .li-container + .li-container {
    border-left: none;
    margin-top: 40px;
  }
}

footer {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5vh;
}

footer p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #eb7a55;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

#btn-mobile {
  display: none;
}

/*1100px*/
@media only screen and (max-width: 1100px) {
  header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header h2 {
    margin: 0 50px;
  }
  header ul {
    display: block;
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0px;
    background: #1a1a1a;
    -webkit-transition: .6s;
    transition: .6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  header.active ul {
    height: calc(30vh - 70px);
    visibility: visible;
    overflow-y: auto;
    padding: 10px 0;
  }
  header ul a {
    margin-left: 50px;
  }
  header li + li {
    padding-left: 0;
  }
  header li {
    padding: 5px 0;
  }
  #btn-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: .5rem;
    margin-right: 25px;
  }
  #hamburger {
    display: block;
    width: 20px;
    border-top: 2px solid;
    color: #fff;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    -webkit-transition: .3s;
    transition: .3s;
    position: relative;
  }
  header.active #hamburger {
    border-top-color: transparent;
  }
  header.active #hamburger::before {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  header.active #hamburger::after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    top: -7px;
  }
}
/*# sourceMappingURL=style.css.map */