@import 'modules/default.css';
@import 'modules/header.css';
@import 'modules/sobre.css';
@import 'modules/default.css';
@import 'modules/abbout.css';
@import 'modules/trabalhos.css';
@import 'modules/contato.css';
@import 'modules/footer.css';
@import 'modules/pace.css';

@import 'modules/mobile.css';

/*
*{
    border: 1px solid red;
}
*/