*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
}
:root{
    --bg1: #0D0D0D;
    --bg2: #171717;
    --ttl: #fff;
    --txt: #fafafa;
}
body{
    background: var(--bg1);
}
/*Header*/
header{
    width: 100%;
    height: 10vh;
    background: var(--bg1);
    display: flex;
    align-items: center;
    justify-content: center;
}
header .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .container img{
    height: 75px;
    width: 75px;
}
header ul{
    display: flex;
}
header ul li a{
    padding: 0 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--ttl)
}
header ul li a:hover{ 
    border-bottom: 1px solid #fff;
}
/*Home*/
#home{
    height: 900px;
    width: 100%;
    background: var(--bg2);
}
#home .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .container img{
    height: 900px;
}
/*Sobre*/
#sobre{
    margin: 100px 0;
    background: var(--bg1);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#sobre h2{
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--ttl);
}
#sobre .container{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background: var(--bg2);
}
#sobre .container img{
    height: 500px;
    width: 500px;
    box-shadow: 0 0 1em #fff;
}
#sobre .sobre-texto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    width: 60%;
}
#sobre .sobre-texto p{
    height: auto;
    width: 100%;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-align: left;
    margin-left: 50px;
    color: var(--txt);
}
/*Trabalhos*/
#trabalhos{
    background: var(--bg1);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#trabalhos .container{
    background: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#trabalhos .container h2{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--ttl);
    margin-bottom: 20px;
}
#trabalhos .container ul{
    text-align: center;
}
#trabalhos .container ul li{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--txt);
    line-height: calc(14px*2);
}
/*Img*/
#imgs{
    margin: 100px 0;
    background: var(--bg2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#imgs .text{
    background: var(--bg2);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#imgs .text h2{
    color: var(--ttl);
    margin-top: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    font-weight: 500;
}
#imgs .container{
    padding: 50px;
    width: 90%;
    background: var(--bg2);
    justify-items: center;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(350px,1fr));
}
#imgs .container .card{
    animation: scaledown .1s linear;
    animation-fill-mode: forwards;
}
#imgs .container .card:hover{
    animation: scale .1s linear;
    animation-fill-mode: forwards;
}
#imgs .container .card img{
    width: 350px;
    height: 400px;
}
#imgs .container .card img:hover{
    box-shadow: 0 0 .5em #fff;
    cursor: pointer;
}
@keyframes scaledown{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
/*Contato*/
#contato{
    background: var(--bg2);
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contato .orcamento{
    width: 100%;
    height: auto;
    padding: 20px 0;
}
#contato .orcamento .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contato .orcamento .container h2{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: var(--ttl);
}
#contato .orcamento .container p{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--txt);
    padding: 20px 0;
}
.contato .container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 20px 0;
}
.contato .container ul{
    padding: 0 50px;
    text-align: center;
}
.contato .container ul h2{
    color: var(--ttl);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    padding: 20px 0;
}
.contato .container ul li{
    color: var(--txt);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: calc(14px*2);
}
.contato .container ul li i{
    color: var(--txt);
    font-size: 20px;
}
footer{
    width: 100%;
    height: 5vh;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .container p{
    color: var(--txt);
    font-size: 14px;
}
footer .container a{
    color: #eb7a55;
    font-size: 14px;
}