/*ANOTAÇÕES*/
/*Line-height X 1.5*/
/*Fazer um menu mobile(700px)*/
/*ANOTAÇÕES*/
/*Estilos iniciais*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
:root{
    --branco: #fafafa;
    --verde: #56CC9D;
}
body{
    background: var(--branco);
}
/*Estilos iniciais*/
/*header*/
header{
    width: 100vw;
    height: auto;
    background: var(--verde);
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 0;
}
.logo-img img{
    border-radius: 100%;
    height: 100px;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}
header ul li{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    color: var(--branco);
    padding: 0 40px;
}
header ul li:hover{
    border-bottom: 1px solid var(--branco);
}
/*Header*/