/*-Pace-*/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .pace-inactive {
    display: none;
  }
  .pace .pace-progress {
    background: #eb7a55;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
  @media only screen and (max-width: 1000px){
    .pace .pace-progress {
      background: #fafafa;
    }
  }
/*-Scroll-bar-*/
#scrollbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: var(--laranja);
    z-index: 1001;
  }
  ::-webkit-scrollbar{
    width: 0;
}
@keyframes scaledown{
  0%{
      transform: scale(1.1);
  }
  100%{
      transform: scale(1.0);
  }
}
@keyframes scale{
  0%{
      transform: scale(1);
  }
  100%{
      transform: scale(1.1);
  }
}
//Animação link border, Color: #9B30F9 ou #84e;
@keyframes animateLinkBefore{
  0%{
      width: 0;
      height: 0;
      border-top-color: var(--border-animation);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
  }
  50%{
      width: 100%;
      height: 0;
      border-top-color: var(--border-animation);
      border-right-color: var(--border-animation);
      border-bottom-color: transparent;
      border-left-color: transparent;
  }
  100%{
      width: 100%;
      height: 100%;
      border-top-color: var(--border-animation);
      border-right-color: var(--border-animation);
      border-bottom-color: transparent;
      border-left-color: transparent;
  }
}
@keyframes animateLinkAfter{
  0%{
      width: 0;
      height: 0;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: var(--border-animation);
  }
  50%{
      width: 0;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: var(--border-animation);
      border-left-color: var(--border-animation);
  }
  100%{
      width: 100%;
      height: 100%;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: var(--border-animation);
      border-left-color: var(--border-animation);
  }
}
