#contato{
    height: auto;
    width: 100%;
    background: $bg1;
    padding: 100px 0;
    @include FlexCenter;
    flex-direction: column;
    h2{
        font-family: $fontIbm;
        font-size: $fontSize1;
        font-weight: $fontWeight1;
        color: var(--laranja);
        margin-bottom: 20px;
    }
    form{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        label{
            text-align: center;
            margin: 10px 0;
            font-family: $fontIbm;
            font-weight: $fontWeight2;
            font-size: $fontSize3;
            color: var(--branco);
        }
        input{
            border: 2px solid var(--laranja);
            height: 40px;
            width: 400px;
            font-family: $fontForm;
            font-weight: $fontWeight3;
            font-size: $fontSize3;
            color: #000;
            background: #f2f2f2;
            padding: 0.5rem;
            border-radius: 5px;
        }
        textarea{
            height: 150px;
            width: 400px;
            color: #000;
            border: 2px solid var(--laranja);
            line-height: calc(2 * #{$fontSize3});
            font-family: $fontForm;
            font-weight: $fontWeight3;
            font-size: $fontSize3;
            background: #f2f2f2;
            resize: none;
            transition: 0.2s;
            padding: 0.5rem;
            border-radius: 5px;
        }
        input:focus,
        input:hover,
        textarea:focus,
        textarea:hover{
            outline: none;
        }
        button{
            background: var(--roxo-gradient);
            border: 1px solid var(--roxo-gradient);
            color: var(--branco);
            margin-top: 10px;
            width: 150px;
            height: 50px;
            border-radius: 5px;
            font-family: 'Nunito', sans-serif;
            font-weight: 600;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-size: 16px;
        }
        button{
            animation: scaledown .1s linear;
            animation-fill-mode: forwards;
            cursor: pointer;
            i{
                font-size: 14px;
            }
            &:hover{
                animation: scale 0.1s linear;
                animation-fill-mode: forwards;
            }
        }
    }    
    .spam{
        border: 1px solid red;
        visibility: hidden;
        height: 0px;
        position: absolute;
    }
}
@media only screen and (max-width: 420px){
    #contato{
        form{
            width: 90vw;
            label{
                width: 100%;
                text-align: left;
            }
            input{
                width: 100%;
            }
            textarea{
                width: 100%;
            }
        }
    }
}