#conhecimentos{
    height: auto;
    width: 100%;
    @include FlexCenter;
    background: var(--bg);
    flex-direction: column;
    padding: 100px 0;
    h2{
        margin-bottom: 20px;
        font-family: $fontIbm;
        font-size: $fontSize1;
        font-weight: $fontWeight1;
        color: var(--laranja);
    }
    .container{
        display: grid;
        justify-items: center;
        justify-content: center;
        grid-gap: 30px 40px;
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
        width: 90vw;
        .card{
            min-width: 350px;
            min-height: 250px;
            background: var(--bg-panel);
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            animation: scaledown .1s linear;
            animation-fill-mode: forwards;
            padding: 0;
            &::before{
                content: '';
                position: absolute;
                top: -2px;
                left: -2px;
                width: 0;
                height: 0;
                background: transparent;
                border: 2px solid transparent;
            }
            &:hover::before{
                animation: animateLinkBefore 0.5s linear forwards;
            }
            &::after{
                content: '';
                position: absolute;
                top: -2px;
                left: -2px;
                width: 0;
                height: 0;
                background: transparent;
                border: 2px solid transparent;
            }
            &:hover::after{
                animation: animateLinkAfter 0.5s linear forwards;
            }
            &:hover{
                animation: scale .1s linear;
                animation-fill-mode: forwards;
            }
            h1{
                font-family: $fontIbm;
                font-size: $fontSize2;
                font-weight: $fontWeight1;
                color: var(--laranja);
                text-align: center;
            }
            p{
                font-family: $fontIbm;
                font-size: $fontSize3;
                line-height: calc(1.5 * #{$fontSize3});
                font-weight: $fontWeight3;
                color: var(--branco);
                width: 90%;
                text-align: center;
            }
            i{
                color: #9B30F9;
                font-size: 30px;
            }
        }
    }
}
/*-450px-*/
@media only screen and (max-width: 450px){
    #conhecimentos .container{
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(95%,1fr));
    }
    #conhecimentos .container .card{
        width: 95%;
    }
}