#contato{
    height: auto;
    width: 100%;
    background: var(--bg-panel);
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 22px;
        font-weight: 500;
        color: var(--laranja);
    }
    h2.contato{
        margin-bottom: 20px;
    }
    .container{
        display: flex;
        align-items: center;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 80%;
        /*Form*/
        form{
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-direction: column;
            label:nth-child(1){
                margin-top: 20px;
            }
            label{
                text-align: center;
                margin-top: 10px;
                letter-spacing: 1px;
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 300;
                font-size: 16px;
                color: var(--branco);
            }
            input{
                border: 4px solid var(--laranja);
                height: 38px;
                width: 400px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: 400;
                font-size: 18px;
                color: #000;
            }
            textarea{
                height: 120px;
                width: 400px;
                color: #000;
                border: 4px solid var(--laranja);
                line-height: calc(16px*2);
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: 400;
                font-size: 18px;
            }
            button{
                background: var(--roxo-gradient);
                border-radius: 5px;
                border: 1px solid var(--roxo-gradient);
                font-size: 16px;
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 300;
                color: var(--branco);
                margin-top: 10px;
                width: 150px;
                height: 40px;
            }
        }
        /*Dados*/
        .container-dados{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h2{
                color: var(--branco);
                font-size: 20px;
                font-family: 'Josefin Sans', sans-serif;
                font-weight: 400;
                margin-top: 20px;
                margin-bottom: 10px;
            }
            ul{
                display: flex;
                flex-direction: column;
                li{
                    color: var(--branco);
                    text-align: center;
                    font-size: 18px;
                    font-family: 'Josefin Sans', sans-serif;
                    font-weight: 300;
                    line-height: calc(16px*2);
                    letter-spacing: 1px;
                }
            }
        }
    }
}
@media only screen and (max-width: 800px){
    #contato{
        .container{
            flex-direction: column;
            align-items: center;
            width: 95%;
        }
        .container-dados{
            margin: 20px 0;
        }
        form{
            order: 1;
            button{
                align-self: center;
                width: 150px;
                height: 40px;
            }
        }
    }
}

