#contato{
    height: auto;
    width: 100%;
    background: var(--bg-panel);
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2{
            color: var(--branco);
            font-size: 22px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 400;
            letter-spacing: 1px;
            font-weight: normal;
            margin-bottom: 10px;
        }
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: auto;
            label{
                color: var(--branco);
                text-align: center;
                font-size: 16px;
                font-family: 'Josefin Sans', sans-serif;
                line-height: calc(16px*2);
                letter-spacing: 1px;
                font-weight: 300;
                margin-top: 20px;
            }
            input{
                border: 4px solid var(--laranja);
                height: 38px;
                width: 300px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: 400;
                font-size: 18px;
                color: #000;
            }
            textarea{
                height: 120px;
                width: 400px;
                color: #000;
                border: 4px solid var(--laranja);
                line-height: calc(16px*2);
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-weight: 400;
                font-size: 18px;
            }
            button{
                background: var(--roxo-gradient);
                border-radius: 5px;
                border: 1px solid var(--roxo-gradient);
                padding: 15px 30px;
                font-size: 16px;
                font-family: 'IBM Plex Sans', sans-serif;
                font-weight: 300;
                color: var(--branco);
                margin-top: 20px;
            }
        }
    }
}