#contato{
    height: auto;
    width: 100%;
    background: var(--bg-panel);
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h2{
        font-family: 'IBM Plex Sans', sans-serif;
        font-size: 22px;
        font-weight: 500;
        color: var(--laranja);
        margin-bottom: 20px;
    }
    form{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        label{
            text-align: center;
            margin-top: 10px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 400;
            font-size: 18px;
            color: var(--branco);
        }
        input{
            border: 2px solid var(--laranja);
            height: 38px;
            width: 400px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 300;
            font-size: 18px;
            color: #000;
            background: #f2f2f2;
        }
        textarea{
            height: 120px;
            width: 400px;
            color: #000;
            border: 2px solid var(--laranja);
            line-height: calc(16px*2);
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: 300;
            font-size: 18px;
            background: #f2f2f2;
        }
        button{
            background: var(--roxo-gradient);
            border: 1px solid var(--roxo-gradient);
            font-size: 18px;
            font-family: 'IBM Plex Sans', sans-serif;
            font-weight: 400;
            color: var(--branco);
            margin-top: 10px;
            width: 150px;
            height: 40px;
        }
        button{
            animation: scaledown .1s linear;
            animation-fill-mode: forwards;
            cursor: pointer;
            &:hover{
                animation: scale 0.1s linear;
                animation-fill-mode: forwards;
            }
        }
    }    
    .spam{
        border: 1px solid red;
        visibility: hidden;
        height: 0px;
        position: absolute;
    }
}
@media only screen and (max-width: 420px){
    #contato{
        form{
            width: 95%;
            label{
                width: 100%;
                text-align: left;
            }
            input{
                width: 100%;
            }
            textarea{
                width: 100%;
            }
        }
    }
}