header{
    width: 100%;
    height: 8vh;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 999;
    transition: .3s;
    &.hd-Animated{
        background: var(--bg-panel);
        height: 6vh;
    }
    .logo{
        h2{
            font-family: $fontJosefin;
            font-weight: $fontWeight3;
            font-size: 24px;
            letter-spacing: 2.5px;
            color: var(--branco);
        }
    }
    ul{
        @include FlexCenter;
        height: 10vh;
        li{
            a{
                @include FlexCenter;
                font-family: $fontIbm;
                font-size: $fontSize2;
                color: var(--branco);
                font-weight: $fontWeight2;
                position: relative;
                &::after{
                    content: '';
                    width: 100%;
                    position: absolute;
                    height: 1px;
                    background: var(--branco);
                    left: 0;
                    bottom: 0;
                    transform: scale(0,1);
                    transform-origin: 0% 100%;
                    transition: transform .3s ease;
                } 
                &:hover::after,
                &.active::after{
                    transform: scale(1,1);
                }
            }
        }
        li + li{
            padding-left: 4vw;
        }
    }
}