header{
    width: 100%;
    height: 10vh;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 999;
    transition: .6s;
    .logo{
        h2{
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
            color: var(--branco);
            font-size: 24px;
            letter-spacing: 6px;
        }
        span:nth-child(1){
            transition: .5s;
            color: var(--branco);
        }
        span:nth-child(2){
            transition: .5s;
            color: var(--laranja);
        }
        &:hover{
            span:nth-child(1){
                color: var(--laranja);
            }
            span:nth-child(2){
                color: var(--branco);
            }
        }
    }
    &.hd-Animated{
        background: var(--bg-panel);
        height: 6vh;
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        li{
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 18px;
                color: var(--branco);
                font-weight: 400;
                position: relative;
                &::after{
                    content: '';
                    width: 100%;
                    position: absolute;
                    height: 1px;
                    background: var(--branco);
                    left: 0;
                    bottom: 0;
                    transform: scale(0,1);
                    transform-origin: 0% 100%;
                    transition: transform .3s ease;
                } 
                &:hover::after{
                    transform: scale(1,1);
                }
            }
        }
        li + li{
            padding-left: 4vw;
        }
    }
}