header{
    width: 100%;
    height: 6vh;
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 999;
    transition: .6s;
    .logo{
        h2{
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
            font-size: 24px;
            letter-spacing: 6px;
            color: var(--branco);
            transition: .5s;
        }
    }
    &.hd-Animated{
        background: var(--bg-panel);
    }
    ul{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        li{
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'IBM Plex Sans', sans-serif;
                font-size: 18px;
                color: var(--branco);
                font-weight: 400;
                position: relative;
                &::after{
                    content: '';
                    width: 100%;
                    position: absolute;
                    height: 1px;
                    background: var(--branco);
                    left: 0;
                    bottom: 0;
                    transform: scale(0,1);
                    transform-origin: 0% 100%;
                    transition: transform .3s ease;
                } 
                &:hover::after{
                    transform: scale(1,1);
                }
            }
        }
        li + li{
            padding-left: 4vw;
        }
    }
}