#inicio{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .inicio-container{
        display: inline-block;
        margin-right: 30%;
        h2{
            font-family: $fontIbm;
            font-size: 26px;
            color: var(--branco);
            font-weight: 500;
        }
        h1{
            font-family: $fontIbm;
            font-size: 30px;
            padding: 5px 0;
            color: var(--branco);
            font-weight: 500;
            &::after{
                content: '|';
                margin-left: 5px;
                opacity: 1;
                animation: pisca .7s infinite;
            }
        }
    }
}
@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
.laranja{
    color: var(--laranja);
}
@media only screen and (max-width: 1000px){
    #inicio{
        text-align: center;
        .inicio-container{
            padding: 0;
            margin: 0;
        }
    }
}
@media only screen and (max-width: 500px){
    #inicio{
        .inicio-container{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h2{
            }
            h1{
                width: 90%;
            }
        }
    }
}