#projetos{
    .hidden{
        display: none;
    }
    width: 100vw;
    height: auto;
    background: $bg1;
    @include FlexCenter;
    flex-direction: column;
    padding: 100px 0;
    h1{
        font-family: $fontIbm;
        font-size: $fontSize1;
        font-weight: $fontWeight1;
        color: var(--laranja);
        text-align: center;
        margin-bottom: 20px;
    }
    .container{
        max-width: 100vw;
        justify-items: center;
        justify-content: center;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
        .card{
            min-height: 250px;
            width: 350px;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background-color: $bg2;
            animation: scaledown .1s linear;
            animation-fill-mode: forwards;
            @include animationBorder;
            &:hover{
                animation: scale .1s linear;
                animation-fill-mode: forwards;
            }
            h2{
                font-family: $fontIbm;
                font-size: $fontSize2;
                font-weight: $fontWeight1;
                color: var(--laranja);
                text-align: center;
            }
            p{
                font-family: $fontIbm;
                font-size: $fontSize3;
                line-height: calc(1.5 * #{$fontSize3});
                font-weight: $fontWeight3;
                text-align: center;
                color: var(--branco);
                max-width: 90%;
            }
            ul{
                @include FlexCenter;
                flex-direction: row;
                flex-wrap: wrap;
                max-width: 300px;
                li{
                    border: 1px solid #9B30F9;
                    background: var(--roxo-gradient);
                    color: var(--branco);
                    border-radius: 5px;
                    font-size: 14px;
                    min-width: 80px;
                    width: auto;
                    height: auto;
                    text-align: center;
                    padding: 2.5px;
                    margin: 5px 5px;
                    font-family: $fontIbm;
                    font-weight: $fontWeight3;
                }
            }
        }
    }
}
/*-450px-*/
@media only screen and (max-width: 450px){
    #projetos .container{
        width: 95%;
        grid-template-columns: repeat(auto-fit, minmax(95%,1fr));
    }
    #projetos .container .card{
        width: 90vw;
    }
}