#skills{
    width: 100vw;
    height: 75%;
    background-color: var(--bg);
    @include FlexCenter;
    flex-direction: column;
    padding: 100px 0;
    h2{
        margin-bottom: 20px;
        font-family: $fontIbm;
        font-size: $fontSize1;
        font-weight: $fontWeight1;
        color: var(--laranja);
        text-align: center;
    }
    .container{
        width: 90vw;
        justify-items: center;
        justify-content: center;
        display: grid;
        grid-gap: 30px 0px;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        .card{
            height: 150px;
            width: 150px;
            background-color: var(--bg-panel);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            animation: scaledown .1s linear;
            animation-fill-mode: forwards;
            &:hover{
                animation: scale 0.1s linear;
                animation-fill-mode: forwards;
            }
            &:hover p{
                opacity: 1;
            }
            i,
            .iconify{
                color: var(--laranja);
                font-size: 40px;
            }
            p{
                font-family: $fontIbm;
                font-weight: $fontWeight3;
                font-size: $fontSize3;
                color: var(--branco);
                background: var(--roxo-gradient);
                border-radius: 5px;
                padding: 5px 10px;
                opacity: 0;
                transition: opacity .5s;
            }
            @media only screen and (max-width: 1650px){
                @include animationBorder;
            }
            @media only screen and (min-width: 1700px){
                .tooltip::after {
                    content: attr(data-title);
                    display: block;
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;
                    transform: translate(0, 10px);
                    width: 125px;
                    font-size: 14px;
                    line-height: calc(1.5 * 14px);
                    font-family: $fontForm;
                    background: #84e;
                    color: #fafafa;
                    padding: 10px;
                    border-radius: 5px;
                    text-align: left;
                }
                .tooltip:hover::after {
                    visibility: visible;
                    opacity: 1;
                    transform: translate(0, 5px);
                    transition: all .2s ease;
                }
            }
        }
    }
}