#skills{
    width: 100vw;
    height: 75%;
    background-color: var(--bg);
    @include FlexCenter;
    flex-direction: column;
    padding: 100px 0;
    
    
    .tooltip {
        text-decoration: underline;
        color: tomato;
    }
    .tooltip::after {
        content: attr(data-skills);
        display: block;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transform: translate(0, 10px);
        max-width: 200px;
        font-size: 12px;
        line-height: 1.4em;
        font-family: courier;
        background: #8844ee;
        color: white;
        padding: 5px 10px;
        border-radius: 2px;
    }
    .tooltip:hover::after {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 5px);
        transition: all .2s ease;
    }



    h2{
        margin-bottom: 20px;
        font-family: $fontIbm;
        font-size: $fontSize1;
        font-weight: $fontWeight1;
        color: var(--laranja);
        text-align: center;
    }
    .container{
        width: 90vw;
        justify-items: center;
        justify-content: center;
        display: grid;
        grid-gap: 30px 0px;
        grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
        .card{
            height:  150px;
            width: 150px;
            background-color: var(--bg-panel);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            animation: scaledown .1s linear;
            animation-fill-mode: forwards;
            &:hover{
                animation: scale 0.1s linear;
                animation-fill-mode: forwards;
            }
            &:hover p{
                opacity: 1;
            }
            i{
                color: var(--laranja);
                font-size: 40px;
            }
            p{
                font-family: $fontIbm;
                font-weight: $fontWeight3;
                font-size: $fontSize3;
                color: var(--branco);
                background: var(--roxo-gradient);
                border-radius: 5px;
                padding: 5px 10px;
                opacity: 0;
                transition: opacity .5s;
            }
        }
    }
}