#sobremim{
    width: 100vw;
    height: auto;
    background-color: var(--bg-panel);
    .sobremim-container{
        @include FlexCenter;
        flex-direction: row;
        width: 100%;
        padding: 100px 0;
        img{
            height: 20vh;
            border-radius: 100%;
            margin-right: 5vw;
        }
        .txt{
            display: flex;
            flex-direction: column;
            p{
                font-family: $fontIbm;
                font-size: $fontSize3;
                font-weight: $fontWeight3;
                line-height: calc(1.5 * #{$fontSize3});
                width: 30vw;
                color: var(--branco);
                margin: 10px 0;
            }
            h2{
                font-family: $fontIbm;
                color: var(--laranja);
                font-weight: $fontWeight1;
                font-size: $fontSize1;
            }
            .btns{
                display: flex;
                a + a{
                    margin-left: 10px;
                }
                a{
                    button{
                        animation: scaledown .1s linear;
                        animation-fill-mode: forwards;
                        cursor: pointer;
                        &:hover{
                            animation: scale 0.1s linear;
                            animation-fill-mode: forwards;
                        }
                    }
                    button{
                        background: var(--roxo-gradient);
                        border-radius: 5px;
                        height: auto;
                        width: auto;
                        @include FlexCenter;
                        flex-direction: row;
                        border: 1px solid var(--roxo-gradient);
                        padding: 15px 15px;
                        min-width: 120px;
                    }
                    h3{
                        font-size: $fontSize3;
                        font-family: $fontIbm;
                        font-weight: $fontWeight3;
                        color: var(--branco);
                    }
                    i{
                        margin: 0 5px;
                        color: var(--branco);
                    }
                }
            }
        }
    }
}
/*-960px-*/
@media only screen and (max-width: 960px){
    #sobremim .sobremim-container{
        flex-direction: column;
        img{
            padding: 0;
            margin: 0;
        }
        .txt{         
            display: flex;
            flex-direction: column;
            align-items: center;
            p{
                width: 90vw;
                height: auto;
            }
        }
    }
}