:root{
  --bg: #282A2D;
  --bg-panel: #1B1D20;
  --laranja: #eb7a55;
  --branco: #fafafa;
  --roxo-gradient: linear-gradient(#9B30F9, #84e);
  --border-animation: #84e;
}

$fontIbm: 'IBM Plex Sans', sans-serif;
$fontJosefin: 'Josefin Sans', sans-serif;
$fontForm: Georgia, 'Times New Roman', Times, serif;

$fontSize1: 22px;
$fontSize2: 18px;
$fontSize3: 16px;

$fontWeight1: 500;
$fontWeight2: 400;
$fontWeight3: 300;

@mixin FlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}