*{
  &::selection {
    background-color: #84E;
  }
}

:root{
  --bg: #282A2D;
  --bg-panel: #1B1D20;
  --laranja: #eb7a55;
  --branco: #fafafa;
  --roxo-gradient: linear-gradient(#9B30F9, #84e);
  --border-animation: #84e;
}
$bg1: #282A2D;
$bg2: #1B1D20;

$fontIbm: 'IBM Plex Sans', sans-serif;
$fontForm: Georgia, 'Times New Roman', Times, serif;

$fontSize1: 22px;
$fontSize2: 18px;
$fontSize3: 16px;

$fontWeight1: 500;
$fontWeight2: 400;
$fontWeight3: 300;

@mixin FlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin animationBorder {
  &::before{
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
  }
  &:hover::before{
      animation: animateLinkBefore .4s linear forwards;
  }
  &::after{
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      width: 0;
      height: 0;
      background: transparent;
      border: 2px solid transparent;
  }
  &:hover::after{
      animation: animateLinkAfter .4s linear forwards;
  }
}