/*-Pace-*/
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .pace-inactive {
    display: none;
  }
  .pace .pace-progress {
    background: #eb7a55;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
/*-Scroll-bar-*/
#scrollbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: var(--laranja);
    z-index: 1001;
  }
  ::-webkit-scrollbar{
    width: 0;
}