footer{
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--roxo-gradient);
}
footer i{
    font-size: 25px;
    margin: 10px 20px;
    position: relative;
    color: var(--branco);
}
footer i:hover{
    color: var(--laranja);
}