header{
    width: 100%;
    height: 10vh;
    background: var(--bg-panel);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    z-index: 999;
    transition: .6s;
}
header.hd-Animated{
    background: var(--bg-panel);
    height: 6vh;
}
#header h2{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: var(--branco);
    font-size: 22px;
    letter-spacing: 4px;
}
header ul{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
header li + li{
    padding-left: 4vw;
}
header ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    color: var(--branco);
    font-weight: 400;
}
header ul li a::after{
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    background: #fff;
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform .3s ease;
}
header ul li a:hover::after{
    transform: scale(1,1);
}