#inicio{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inicio .inicio-container{
    display: inline-block;
    margin-right: 30%;
}
#inicio .inicio-container h2{
    font-family: 'Fira Code', monospace;
    font-size: 26px;
    color: var(--branco);
    font-weight: 500;
}
#inicio .inicio-container h1{
    font-family: 'Fira Code', monospace;
    font-size: 30px;
    padding: 5px 0;
    color: var(--branco);
    font-weight: 500;
}
#inicio .inicio-container h1::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}
@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
#inicio .inicio-container p, a{
    font-family: 'Fira Code', monospace;
    font-size: 18px;
}
.laranja{
    color: var(--laranja);
}