/*-1000px-*/
@media only screen and (max-width: 1000px){
    #inicio{
        text-align: center;
    }
    #inicio .inicio-container{
        padding: 0;
        margin: 0;
    }
}
/*-960px-*/
@media only screen and (max-width: 960px){
    #sobremim .sobremim-container{
        flex-direction: column;
    }
    #sobremim .sobremim-container img{
        padding: 0;
        margin: 0;
    }
    #sobremim .sobremim-container .coments{         
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sobremim .sobremim-container .coments p{
        width: 90vw;
        height: auto;
    }
    #sobremim .sobremim-container .coments h2{
        padding-top: 2%;
    }
}
/*-460px-*/
@media only screen and (max-width: 460px){
    #sobremim .sobremim-container .coments p{
        padding-top: 2%;
    }
    #sobremim .sobremim-container img{
        height: 150px;
    }
}
/*330px*/
@media only screen and (max-width: 330px){
    footer i{
        margin: 10px 20px;
    }
}
/*311px*/
@media only screen and (max-width: 311px){
    #projetos .container .card{
        width: 200px;
    }
    #projetos-card .card ul li{
        min-width: auto;
    }
}
/*285px*/
@media only screen and (max-width: 285px){
    #sobremim .sobremim-container img{
        height: 125px;
    }
}