#skills{
    width: 100vw;
    height: 75%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}
#skills h2{
    margin-bottom: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: var(--laranja);
    text-align: center;
}
#skills .container{
    width: 90vw;
    justify-items: center;
    justify-content: center;
    display: grid;
    grid-gap: 30px 0px;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
}
#skills .container .card{
    height:  150px;
    width: 150px;
    background-color: var(--bg-panel);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    animation: scaledown .1s linear;
    animation-fill-mode: forwards;
}
#skills .container .card:hover{
    animation: scale 0.1s linear;
    animation-fill-mode: forwards;
}
#skills .container .card i{
    color: var(--laranja);
    font-size: 40px;
}
#skills p{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--branco);
    background: var(--roxo-gradient);
    border-radius: 5px;
    padding: 5px 10px;
    opacity: 0;
    transition: opacity .5s;
}
#skills .card:hover p{
    opacity: 1;
}