#skills{
    width: 100vw;
    height: 75%;
    background-color: var(--bg-panel);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#skills h2{
    margin: 3vh 0 0 0;
    font-family: 'Fira Code', monospace;
    font-size: 25px;
    color: var(--laranja);
    text-align: center;
}
#skills .container{
    width: 80vw;
    padding: 30px 0;
    justify-items: center;
    justify-content: center;
    display: grid;
    grid-gap: 30px 0px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
#skills .container .card{
    height:  250px;
    width: 150px;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    animation: scaledown .1s linear;
    animation-fill-mode: forwards;
}
#skills .container .card:hover{
    animation: scale 0.1s linear;
    animation-fill-mode: forwards;
}
.htmlcss{
    height: 80%;
}
.htmlcss i{
    padding: 0 5px;
}
#skills .container .card i{
    color: var(--laranja);
    height: 80%;
    font-size: 40px;
}
#skills .container .card p{
    font-size: 16px;
    display: flex;
    text-align: center;
    color: var(--branco);
}