#sobremim{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-panel);
}
#sobremim .sobremim-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 100px 0;
}
#sobremim .sobremim-container img{
    height: 20vh;
    border-radius: 100%;
    margin-right: 5vw;
}
#sobremim .sobremim-container p{
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    line-height: calc(16px*1.5);
    width: 30vw;
    color: var(--branco);
    margin: 10px 0;
}
#sobremim .sobremim-container .coments h2{
    font-family: 'Fira Code', monospace;
    color: var(--laranja);
    font-size: 25px;
}
#sobremim .sobremim-container .coments a{
    display: block;
    width: 120px;
    margin: 20px 0 0 0;
}
#sobremim .sobremim-container .coments a button{
    animation: scaledown .1s linear;
    animation-fill-mode: forwards;
    cursor: pointer;
}
#sobremim .sobremim-container .coments a button:hover{
    animation: scale 0.1s linear;
    animation-fill-mode: forwards;
}
#sobremim .sobremim-container .coments button{
    background: var(--roxo-gradient);
    border-radius: 5px;
    height: 50px;
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border: 1px solid var(--roxo-gradient);
}
#sobremim .sobremim-container .coments h3{
    font-size: 14px;
    font-family: 'Fira Code', monospace; 
    color: var(--branco);
}
#sobremim .sobremim-container .coments i{
    margin: 0 5px;
    color: var(--branco);
}