/*----------------------------------------------LOADING-BAR----------------------------------------------*/
/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .pace-inactive {
    display: none;
  }
  .pace .pace-progress {
    background: #eb7a55;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
/*----------------------------------------------LOADING-BAR----------------------------------------------*/
/*----------------------------------------------SCROLLBAR----------------------------------------------*/
#scrollbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    background: var(--laranja)
}
::-webkit-scrollbar{
    width: 0;
}
/*----------------------------------------------SCROLLBAR----------------------------------------------*/
/*----------------------------------------------ANIMATED----------------------------------------------*/
[data-anime]{
    opacity: 0;
    transition: .3s;
}
[data-anime="left"]{
    transform: translate3d(-100px,0,0);
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
/*----------------------------------------------ANIMATED----------------------------------------------*/
/*----------------------------------------------BUTTON----------------------------------------------*/
#button-dark-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
}
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}
label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: var(--branco);
    float: right;
    border-radius: 100px;
    position: relative;
}
label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: var(--preto);
    border-radius: 90px;
    transition: 0.3s;
}
input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
label:active:after {
    width: 45px;
}
/*----------------------------------------------BUTTON----------------------------------------------*/