@media only screen and (max-width: 1000px){
    #inicio{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #inicio .inicio-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .container-icon i{
        display: none;
    }
    .container-lista{
        width: 100vw;
    }
    #button-dark-mode{  
        display: none;
    }
    #sobremim .sobremim-container .coments p{
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width: 960px){
    #sobremim{
        height: auto;
        width: 100vw;
    }
    #sobremim .sobremim-container{
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;
        padding: 5% 0;
    }
    #sobremim .sobremim-container p{
        text-align: left;
    }
    #sobremim .sobremim-container img{
        padding: 0;
        margin: 0;
    }
    #sobremim .sobremim-container .coments{         
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sobremim .sobremim-container .coments p{
        width: 70%;
        height: auto;
    }
    #sobremim .sobremim-container .coments h2{
        width: 50%;
        padding-top: 2%;
    }
    #portifolio{
        height: auto;
        width: 100vw;
    }
    #portifolio .portifolio-container{
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;
        padding: 5% 0;
    }
    #portifolio .portifolio-container p{
        text-align: left;
    }
    #portifolio .portifolio-container img{
        padding: 0;
        margin: 0;
    }
    #portifolio .portifolio-container .coments{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #portifolio .portifolio-container .coments p{
        width: 70%;
        height: 100%;
    }
    #portifolio .portifolio-container .coments h2{
        width: 50%;
        padding-top: 5%;
    }
}
@media only screen and (max-width: 460px){
    header .container{
        flex-direction: column;
        text-align: center;
        width: 100vw;
    }
    header .container .container-icon{
        display: none;
    }
    #inicio{
        height: 90vh;
        width: 100vw;
    }
    #inicio .inicio-container{
        text-align: center;
        margin: 0;
        padding: 0;
        width: 90vw;
    }
    #sobremim{
        height: auto;
        width: 100vw;
    }
    #sobremim .sobremim-container{
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;
        padding-top: 5%;
    }
    #sobremim .sobremim-container img{
        padding: 0;
        margin: 0;
    }
    #sobremim .sobremim-container .coments{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sobremim .sobremim-container .coments p{
        width: 70%;
        height: auto;
        padding-top: 2%;
    }
    #sobremim .sobremim-container .coments h2{
        width: 50%;
    }

    #portifolio{
        height: auto;
        width: 100vw;
    }
    #portifolio .portifolio-container{
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;
        padding-top: 5%;
    }
    #portifolio .portifolio-container img{
        padding: 0;
        margin: 0;
    }
    #portifolio .portifolio-container .coments{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #portifolio .portifolio-container .coments p{
        width: 70%;
        height: 100%;
        padding-top: 5%;
    }
    #portifolio .portifolio-container .coments h2{
        width: 50%;
    }
    #portifolio img{
        height: 125px;
    }
    #sobremim .sobremim-container img{
        height: 150px;
    }
}
@media only screen and (max-width: 380px){
    header .container-lista li a{
        font-size: 0.8em;
    }
}
@media only screen and (max-width: 356px){
    header .container-lista li a{
        font-size: 0.6em; 
    }
}
@media only screen and (max-width: 330px){
    footer i{
        margin: 10px 10px;
    }
}
@media only screen and (max-width: 311px){
    header .container-lista li a{
        font-size: 0.5em;
    }
}
@media only screen and (max-width: 285px){
    #inicio{
        height: 90vh;
    }
    #sobremim{
        height: auto;
    }
    #portifolio{
        height: auto;
    }
    #portifolio img{
        height: 100px;
    }
    #sobremim .sobremim-container img{
        height: 125px;
    }
}
@media only screen and (max-width: 230px){
    footer i{
        font-size: 20px;
        margin: 10px 10px;
    }
@media only screen and (max-width: 225px){
    header .container-lista li a{
        font-size: 0.4em;
    }
}
@media only screen and (max-width: 205px){
    footer i{
        font-size: 15px;
        margin: 10px 5px;
    }
}