@media only screen and (max-width: 1000px){
    #inicio{
        text-align: center;
    }
    #inicio .inicio-container{
        padding: 0;
        margin: 0;
    }
    .container-lista{
        width: 100vw;
    }
}
/*------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 960px){

    #sobremim .sobremim-container{
        flex-direction: column;
        padding: 5% 0;
    }
    #sobremim .sobremim-container p{
        text-align: left;
    }
    #sobremim .sobremim-container img{
        padding: 0;
        margin: 0;
    }
    #sobremim .sobremim-container .coments{         
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sobremim .sobremim-container .coments p{
        width: 90vw;
        height: auto;
    }
    #sobremim .sobremim-container .coments h2{
        padding-top: 2%;
    }
    #portifolio .portifolio-container{
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;
        padding: 5% 0;
    }
    #portifolio .portifolio-container p{
        text-align: left;
    }
    #portifolio .portifolio-container a{
        padding: 0;
        margin: 0;
    }
    #portifolio .portifolio-container .coments{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #portifolio .portifolio-container .coments p{
        width: 90vw;
        height: auto;
    }
    #portifolio .portifolio-container .coments h2{
        padding-top: 2%;
    }
}
/*------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 460px){
    #sobremim .sobremim-container .coments p{
        padding-top: 2%;
    }
    #portifolio img{
        height: 125px;
    }
    #sobremim .sobremim-container img{
        height: 150px;
    }
}
/*------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 415px){
    header .container-lista li a{
        font-size: 0.8em;
    }
}
/*------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 370px){
    header .container-lista li a{
        font-size: 0.6em; 
    }
}
/*------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 330px){
    footer i{
        margin: 10px 20px;
    }
}
/*------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 311px){
    header .container-lista li a{
        font-size: 0.5em;
    }
    #projetos .container .card{
        width: 200px;
    }
}
/*------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 285px){
    #portifolio img{
        height: 100px;
    }
    #sobremim .sobremim-container img{
        height: 125px;
    }
}
/*------------------------------------------------------------------------------------------------------------*/
