/*-1000px-*/
@media only screen and (max-width: 1000px){
    #inicio{
        text-align: center;
    }
    #inicio .inicio-container{
        padding: 0;
        margin: 0;
    }
    .container-lista{
        width: 100vw;
    }
}
/*-960px-*/
@media only screen and (max-width: 960px){

    #sobremim .sobremim-container{
        flex-direction: column;
        padding: 5% 0;
    }
    #sobremim .sobremim-container p{
        text-align: left;
    }
    #sobremim .sobremim-container img{
        padding: 0;
        margin: 0;
    }
    #sobremim .sobremim-container .coments{         
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sobremim .sobremim-container .coments p{
        width: 90vw;
        height: auto;
    }
    #sobremim .sobremim-container .coments h2{
        padding-top: 2%;
    }
}
/*475px*/
@media only screen and (max-width: 470px){
    header ul li a{
        font-size: 0.8em;
        border: 1px solid red;
    }
}
/*425px*/
@media only screen and (max-width: 360px){
    header ul li a{
        font-size: 0.6em;
    }
}
/*-460px-*/
@media only screen and (max-width: 460px){
    #sobremim .sobremim-container .coments p{
        padding-top: 2%;
    }
    #sobremim .sobremim-container img{
        height: 150px;
    }
}
/*330px*/
@media only screen and (max-width: 330px){
    footer i{
        margin: 10px 20px;
    }
}
/*320px*/
@media only screen and (max-width: 320px){
    header .container-lista li a{
        font-size: 0.5em;
    }
}
/*311px*/
@media only screen and (max-width: 311px){
    #projetos .container .card{
        width: 200px;
    }
    #projetos-card .card ul li{
        min-width: auto;
    }
}
/*285px*/
@media only screen and (max-width: 285px){
    #sobremim .sobremim-container img{
        height: 125px;
    }
}