/*----------------------------------------------LOADING-BAR----------------------------------------------*/
/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .pace-inactive {
    display: none;
  }
  .pace .pace-progress {
    background: #eb7a55;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
/*----------------------------------------------LOADING-BAR----------------------------------------------*/
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 0.5vw;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    background: var(--laranja);
    filter: blur(10px);
}
#progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}
/*----------------------------------------------ANIMATED----------------------------------------------*/
[data-anime]{
    opacity: 0;
    transition: .3s;
}
[data-anime="left"]{
    transform: translate3d(-200px,0,0);
}
[data-anime="right"]{
    transform: translate3d(200px,0,0);
}
[data-anime].animate{
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}
/*----------------------------------------------ANIMATED----------------------------------------------*/
/*----------------------------------------------STANDARD-STYLE----------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: var(--branco);
    text-decoration: none;
}
html{
    --bg: #181815;
    --bg-panel: #0f0f0a;
    --verde: #00FF00;
    --laranja: #eb7a55;
    --vermelho: red;
    --branco: #fafafa;
    --preto: black;
    --roxo-gradient: linear-gradient(#9B30F9, #84e);
}
.verde{
    color: var(--verde);
}
.laranja{
    color: var(--laranja);
}
.vermelho{
    color: var(--vermelho);
}
body{
    background: var(--bg);
}
/*----------------------------------------------STANDARD-STYLE----------------------------------------------*/
/*----------------------------------------------BUTTON-DARK-MODE----------------------------------------------*/
#button-dark-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
}
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}
label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: var(--branco);
    float: right;
    border-radius: 100px;
    position: relative;
}
label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: var(--preto);
    border-radius: 90px;
    transition: 0.3s;
}
input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}
label:active:after {
    width: 45px;
}
/*----------------------------------------------BUTTON-DARK-MODE----------------------------------------------*/
/*----------------------------------------------HEADER----------------------------------------------*/
header{
    width: 99vw;
    height: 10vh;
    background-color: var(--bg-panel);
}
header .container{
    display: flex;
    justify-content: space-around;
}
header .container-icon{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
}
header .container-icon i{
    font-size: 5vh;
}
header .container-lista ul {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
}
header .container-lista li a{
    padding: 0 2vw;
    position: relative;
    color: var(--laranja);
}
header .container-lista li a:hover{
    color: var(--branco);
    border-bottom: 1px solid var(--laranja);
}
/*----------------------------------------------HEADER----------------------------------------------*/
/*----------------------------------------------INICIO----------------------------------------------*/
#inicio{
    height: 100vh;
    width: 99vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inicio .inicio-container{
    margin-right: 45%;
    display: inline-block;
}
#inicio .inicio-container h2{
    font-family: 'Fira Code', monospace;
    font-size: 30px;
    width: 100%;
    margin: 0 0 10px 0;
}
#inicio .inicio-container h1{
    font-family: 'Fira Code', monospace;
    font-size: 36px;
    margin: 0 0 15px 0;
}
#inicio .inicio-container p, a{
    font-family: 'Fira Code', monospace;
    font-size: 17px;
}
/*----------------------------------------------INICIO----------------------------------------------*/
/*----------------------------------------------SOBREMIM----------------------------------------------*/
#sobremim{
    width: 99vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-panel);
}
#sobremim .sobremim-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0;
}
#sobremim .sobremim-container img{
    height: 20vh;
    border-radius: 100%;
    border: 2px solid var(--laranja);
    margin-right: 5vw;
}
#sobremim .sobremim-container p{
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    width: 25vw;
}
#sobremim .sobremim-container .coments h2{
    font-family: 'Fira Code', monospace;
    color: var(--laranja);
    font-size: 25px;
    margin-bottom: 10px;
}
#sobremim .sobremim-container .coments a{
    display: block;
    padding: 20px 0 0 0;
}
#sobremim .sobremim-container .coments button{
    background: var(--roxo-gradient);
    border-radius: 5px;
    height: 50px;
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border: 1px solid var(--roxo-gradient);
}
#sobremim .sobremim-container .coments h3{
    font-size: 16px;
    font-family: 'Fira Code', monospace; 
}
#sobremim .sobremim-container .coments i{
    margin: 0 5px;
}
/*----------------------------------------------SOBREMIM----------------------------------------------*/
/*----------------------------------------------PORTIFOLIO----------------------------------------------*/
#portifolio{
    width: 99vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
}
#portifolio .portifolio-container{
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin: 40px 0;
}
#portifolio .portifolio-container p{
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    width: 25vw;
    width: 25vw;
}
#portifolio .portifolio-container a{
    border-radius: 100%;
    border: 2px solid var(--laranja);
    margin-right: 5vw;
}
#portifolio img{
    height: 20vh;
}
#portifolio .portifolio-container .coments h2{
    font-family: 'Fira Code', monospace;
    color: var(--laranja);
    font-size: 25px;
    margin-bottom: 10px;
}
/*----------------------------------------------PORTIFOLIO----------------------------------------------*/
/*----------------------------------------------SKILLS----------------------------------------------*/
#skills{
    width: 99vw;
    height: 75%;
    background-color: var(--bg-panel);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#skills h2{
    margin: 3vh 0 0 0;
    font-family: 'Fira Code', monospace;
    font-size: 25px;
    color: var(--laranja);
    text-align: center;
}
#skills .container{
    width: 90vw;
    padding: 30px 0;
    justify-items: center;
    justify-content: center;
    display: grid;
    grid-gap: 30px 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
#skills .container .card{
    height:  300px;
    width: 200px;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#skills .container .card:hover{
    border:1px solid var(--laranja);
    border-radius: 10px;
}
#skills .container .card i{
    color: var(--laranja);
    height: 80%;
    font-size: 50px;
}
#skills .container .card p{
    font-size: 20px;
}

/*----------------------------------------------SKILLS----------------------------------------------*/
/*----------------------------------------------FOOTER----------------------------------------------*/
footer{
    width: 99vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: var(--bg);*/
    background: var(--roxo-gradient);
}
footer i{
    font-size: 25px;
    margin: 10px 20px;
    position: relative;
}
footer i:hover{
    color: var(--laranja);
}
/*----------------------------------------------FOOTER----------------------------------------------*/
/*----------------------------------------------MEDIA-QUERY----------------------------------------------*/
@media only screen and (max-width: 1000px){
    #inicio{
        text-align: center;
        padding: 0;
        margin: 0;
    }
    #inicio .inicio-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .container-icon i{
        display: none;
    }
    .container-lista{
        width: 100vw;
    }
    #button-dark-mode{  
        display: none;
    }
    #sobremim .sobremim-container .coments p{
        margin: 0;
        padding: 0;
    }
}
@media only screen and (max-width: 960px){
    #sobremim{
        height: auto;
        width: 100vw;
    }
    #sobremim .sobremim-container{
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;
        padding: 5% 0;
    }
    #sobremim .sobremim-container p{
        text-align: left;
    }
    #sobremim .sobremim-container img{
        padding: 0;
        margin: 0;
    }
    #sobremim .sobremim-container .coments{         
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sobremim .sobremim-container .coments p{
        width: 70%;
        height: auto;
    }
    #sobremim .sobremim-container .coments h2{
        width: 50%;
        padding-top: 2%;
    }
    #portifolio{
        height: auto;
        width: 100vw;
    }
    #portifolio .portifolio-container{
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;
        padding: 5% 0;
    }
    #portifolio .portifolio-container p{
        text-align: left;
    }
    #portifolio .portifolio-container img{
        padding: 0;
        margin: 0;
    }
    #portifolio .portifolio-container .coments{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #portifolio .portifolio-container .coments p{
        width: 70%;
        height: 100%;
    }
    #portifolio .portifolio-container .coments h2{
        width: 50%;
        padding-top: 5%;
    }
}
@media only screen and (max-width: 460px){
    header .container{
        flex-direction: column;
        text-align: center;
        width: 100vw;
    }
    header .container .container-icon{
        display: none;
    }
    #inicio{
        height: 90vh;
        width: 100vw;
    }
    #inicio .inicio-container{
        text-align: center;
        margin: 0;
        padding: 0;
        width: 90vw;
    }
    #sobremim{
        height: auto;
        width: 100vw;
    }
    #sobremim .sobremim-container{
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;
        padding-top: 5%;
    }
    #sobremim .sobremim-container img{
        padding: 0;
        margin: 0;
    }
    #sobremim .sobremim-container .coments{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sobremim .sobremim-container .coments p{
        width: 70%;
        height: auto;
        padding-top: 2%;
    }
    #sobremim .sobremim-container .coments h2{
        width: 50%;
    }

    #portifolio{
        height: auto;
        width: 100vw;
    }
    #portifolio .portifolio-container{
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;
        padding-top: 5%;
    }
    #portifolio .portifolio-container img{
        padding: 0;
        margin: 0;
    }
    #portifolio .portifolio-container .coments{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #portifolio .portifolio-container .coments p{
        width: 70%;
        height: 100%;
        padding-top: 5%;
    }
    #portifolio .portifolio-container .coments h2{
        width: 50%;
    }
    #portifolio img{
        height: 125px;
    }
    #sobremim .sobremim-container img{
        height: 150px;
    }
}
@media only screen and (max-width: 380px){
    header .container-lista li a{
        font-size: 0.8em;
    }
}
@media only screen and (max-width: 356px){
    header .container-lista li a{
        font-size: 0.6em; 
    }
}
@media only screen and (max-width: 311px){
    header .container-lista li a{
        font-size: 0.5em;
    }
}
@media only screen and (max-width: 285px){
    #inicio{
        height: 90vh;
    }
    #sobremim{
        height: auto;
    }
    #portifolio{
        height: auto;
    }
    #portifolio img{
        height: 100px;
    }
    #sobremim .sobremim-container img{
        height: 125px;
    }
}
@media only screen and (max-width: 225px){
    header .container-lista li a{
        font-size: 0.4em;
    }
}
/*----------------------------------------------MEDIA-QUERY----------------------------------------------*/
