/*-Standard-*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
html{
    --bg: #282A2D;
    --bg-panel: #1B1D20;
    --laranja: #eb7a55;
    --branco: #fafafa;
    --roxo-gradient: linear-gradient(#9B30F9, #84e);
    --verde: #39ff14;
}
body{
    background: var(--bg);
}
/*-Header-*/
header{
    width: 100vw;
    height: 10vh;
    background-color: var(--bg);
    position: fixed;
    z-index: 999;
    transition: .6s;
}
header.hd-Animated{
    background: var(--bg-panel);
}
header .container{
    display: flex;
    justify-content: space-around;
}
header .container-lista ul {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
}
header .container-lista li a{
    padding: 0 2vw;
    color: var(--branco);
}
header .container-lista li a:hover{
    border-bottom: 1px solid var(--branco);
}
/*-Inicio-*/
#inicio{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inicio .inicio-container{
    display: inline-block;
    margin-right: 30%;
}
#inicio .inicio-container h2{
    font-family: 'Fira Code', monospace;
    font-size: 26px;
    color: var(--branco);
}
#inicio .inicio-container h1{
    font-family: 'Fira Code', monospace;
    font-size: 30px;
    padding: 5px 0;
    color: var(--branco);
}
#inicio .inicio-container h1::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}
@keyframes pisca{
    0%, 100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
}
#inicio .inicio-container p, a{
    font-family: 'Fira Code', monospace;
    font-size: 18px;
}
.laranja{
    color: var(--laranja);
}
/*-Sobre-mim-*/
#sobremim{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-panel);
}
#sobremim .sobremim-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 80px 0;
}
#sobremim .sobremim-container img{
    height: 20vh;
    border-radius: 100%;
    /*border: 2px solid var(--laranja);*/
    margin-right: 5vw;
}
#sobremim .sobremim-container p{
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    line-height: calc(16px*1.5);
    width: 30vw;
    color: var(--branco);
}
#sobremim .sobremim-container .coments h2{
    font-family: 'Fira Code', monospace;
    color: var(--laranja);
    font-size: 25px;
    margin-bottom: 10px;
}
#sobremim .sobremim-container .coments a{
    display: block;
    width: 120px;
    margin: 20px 0 0 0;
}
#sobremim .sobremim-container .coments a button{
    animation: scaledown .1s linear;
    animation-fill-mode: forwards;
    cursor: pointer;
}
#sobremim .sobremim-container .coments a button:hover{
    animation: scale 0.1s linear;
    animation-fill-mode: forwards;
}
#sobremim .sobremim-container .coments button{
    background: var(--roxo-gradient);
    border-radius: 5px;
    height: 50px;
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border: 1px solid var(--roxo-gradient);
}
#sobremim .sobremim-container .coments h3{
    font-size: 16px;
    font-family: 'Fira Code', monospace; 
    color: var(--branco);
}
#sobremim .sobremim-container .coments i{
    margin: 0 5px;
    color: var(--branco);
}
/*-Portfolio-*/
#portifolio{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
}
#portifolio .portifolio-container{
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin: 80px 0;
}
#portifolio .portifolio-container p{
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    line-height: calc(16px*1.5);
    width: 30vw;
    color: var(--branco);
    margin: 10px 0;
    
}
#portifolio .portifolio-container a{
    margin-right: 5vw;
    border-radius: 100%;
}
#portifolio img{
    height: 20vh;
    /*border: 2px solid var(--laranja);*/
    border-radius: 100%;
}
#portifolio .portifolio-container .coments h2{
    font-family: 'Fira Code', monospace;
    color: var(--laranja);
    font-size: 25px;
}
#link-git a{
    color: var(--verde);
    font-size: 16px;
}
/*-Projetos-*/
#projetos{
    width: 100vw;
    height: 75%;
    background-color: var(--bg-panel);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#projetos h1{
    font-family: 'Fira Code', monospace;
    font-size: 25px;
    color: var(--laranja);
    text-align: center;
}
#projetos h2{
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    color: var(--laranja);
    text-align: center;
}
#projetos .container{
    width: 90vw;
    padding: 30px 0;
    justify-items: center;
    justify-content: center;
    display: grid;
    grid-gap: 30px 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
#projetos .container .card{
    height:  auto;
    min-height: 150px;
    width: 300px;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    animation: scaledown .1s linear;
    animation-fill-mode: forwards;
}
#projetos .container .card:hover{
    animation: scale .1s linear;
    animation-fill-mode: forwards;
}
@keyframes scaledown{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
#projetos-card .card p{
    font-size: 14px;
    line-height: calc(14px*1.5);
    text-align: center;
    color: var(--branco);
    min-height: 80px;
    display: flex;
    align-items: center;
}
#projetos-card .card ul{
    display: flex;
    flex-direction: row;
}
#projetos-card .card ul li{
    border: 1px solid #9B30F9;
    background: var(--roxo-gradient);
    color: var(--branco);
    border-radius: 5px;
    font-size: 13px;
    min-width: 80px;
    width: auto;
    height: 20px;
    text-align: center;
    margin: 0 5px;
}
/*-Skills-*/
#skills{
    width: 100vw;
    height: 75%;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#skills h2{
    margin: 3vh 0 0 0;
    font-family: 'Fira Code', monospace;
    font-size: 25px;
    color: var(--laranja);
    text-align: center;
}
#skills .container{
    width: 80vw;
    padding: 30px 0;
    justify-items: center;
    justify-content: center;
    display: grid;
    grid-gap: 30px 0px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
#skills .container .card{
    height:  250px;
    width: 150px;
    background-color: var(--bg-panel);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    animation: scaledown .1s linear;
    animation-fill-mode: forwards;
}
#skills .container .card:hover{
    animation: scale 0.1s linear;
    animation-fill-mode: forwards;
}
.htmlcss{
    height: 80%;
}
.htmlcss i{
    padding: 0 5px;
}
#skills .container .card i{
    color: var(--laranja);
    height: 80%;
    font-size: 40px;
}
#skills .container .card p{
    font-size: 16px;
    display: flex;
    text-align: center;
    color: var(--branco);
}
/*-Footer-*/
footer{
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--roxo-gradient);
}
footer i{
    font-size: 25px;
    margin: 10px 20px;
    position: relative;
    color: var(--branco);
}
footer i:hover{
    color: var(--laranja);
}
#return i{
    color: var(--laranja);
}
/*-End-*/
