/*--------------------------------------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: var(--branco);
    text-decoration: none;
}
html{
    --bg: #181815;
    --bg-panel: #0f0f0a;
    --verde: #00FF00;
    --laranja: #eb7a55;
    --vermelho: red;
    --branco: #fafafa;
    --preto: black;
    --roxo-gradient: linear-gradient(#9B30F9, #84e);
}
.verde{
    color: var(--verde);
}
.laranja{
    color: var(--laranja);
}
.vermelho{
    color: var(--vermelho);
}
body{
    background: var(--bg);
}
/*--------------------------------------------------------------------------------------------*/
/*----------------------------------------------HEADER----------------------------------------------*/
header{
    width: 100vw;
    height: 10vh;
    background-color: var(--bg-panel);
}
header .container{
    display: flex;
    justify-content: space-around;
}
header .container-icon{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
}
header .container-icon i{
    font-size: 5vh;
}
header .container-lista ul {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
}
header .container-lista li a{
    padding: 0 2vw;
    position: relative;
    color: var(--laranja);
}
header .container-lista li a:hover{
    color: var(--branco);
    border-bottom: 1px solid var(--laranja);
}
/*----------------------------------------------HEADER----------------------------------------------*/
/*----------------------------------------------INICIO----------------------------------------------*/
#inicio{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#inicio .inicio-container{
    margin-right: 45%;
    display: inline-block;
}
#inicio .inicio-container h2{
    font-family: 'Fira Code', monospace;
    font-size: 30px;
    width: 100%;
    margin: 0 0 10px 0;
}
#inicio .inicio-container h1{
    font-family: 'Fira Code', monospace;
    font-size: 36px;
    margin: 0 0 15px 0;
}
#inicio .inicio-container p, a{
    font-family: 'Fira Code', monospace;
    font-size: 17px;
}
/*----------------------------------------------INICIO----------------------------------------------*/
/*----------------------------------------------SOBREMIM----------------------------------------------*/
#sobremim{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-panel);
}
#sobremim .sobremim-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0;
}
#sobremim .sobremim-container img{
    height: 20vh;
    border-radius: 100%;
    border: 2px solid var(--laranja);
    margin-right: 5vw;
}
#sobremim .sobremim-container p{
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    width: 25vw;
}
#sobremim .sobremim-container .coments h2{
    font-family: 'Fira Code', monospace;
    color: var(--laranja);
    font-size: 25px;
    margin-bottom: 10px;
}
#sobremim .sobremim-container .coments a{
    display: block;
    padding: 20px 0 0 0;
}
#sobremim .sobremim-container .coments button{
    background: var(--roxo-gradient);
    border-radius: 5px;
    height: 50px;
    width: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border: 1px solid var(--roxo-gradient);
}
#sobremim .sobremim-container .coments h3{
    font-size: 16px;
    font-family: 'Fira Code', monospace; 
}
#sobremim .sobremim-container .coments i{
    margin: 0 5px;
}
/*----------------------------------------------SOBREMIM----------------------------------------------*/
/*----------------------------------------------PORTIFOLIO----------------------------------------------*/
#portifolio{
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
}
#portifolio .portifolio-container{
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin: 40px 0;
}
#portifolio .portifolio-container p{
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    width: 25vw;
    width: 25vw;
}
#portifolio .portifolio-container a{
    border-radius: 100%;
    border: 2px solid var(--laranja);
    margin-right: 5vw;
}
#portifolio img{
    height: 20vh;
}
#portifolio .portifolio-container .coments h2{
    font-family: 'Fira Code', monospace;
    color: var(--laranja);
    font-size: 25px;
    margin-bottom: 10px;
}
/*----------------------------------------------PORTIFOLIO----------------------------------------------*/
/*----------------------------------------------SKILLS----------------------------------------------*/
#skills{
    width: 100vw;
    height: 75%;
    background-color: var(--bg-panel);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#skills h2{
    margin: 3vh 0 0 0;
    font-family: 'Fira Code', monospace;
    font-size: 25px;
    color: var(--laranja);
    text-align: center;
}
#skills .container{
    width: 90vw;
    padding: 30px 0;
    justify-items: center;
    justify-content: center;
    display: grid;
    grid-gap: 30px 40px;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}
#skills .container .card{
    height:  300px;
    width: 200px;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#skills .container .card:hover{
    border:1px solid var(--laranja);
    border-radius: 10px;
}
#skills .container .card i{
    color: var(--laranja);
    height: 80%;
    font-size: 50px;
}
#skills .container .card p{
    font-size: 20px;
}

/*----------------------------------------------SKILLS----------------------------------------------*/
/*----------------------------------------------FOOTER----------------------------------------------*/
footer{
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: var(--bg);*/
    background: var(--roxo-gradient);
}
footer i{
    font-size: 25px;
    margin: 10px 20px;
    position: relative;
}
footer i:hover{
    color: var(--laranja);
}
#return i{
    color: var(--laranja);
}
/*----------------------------------------------FOOTER----------------------------------------------*/
