@import './modules/default.css';
@import './modules/header.css';
@import './modules/inicio.css';
@import './modules/sobremim.css';
@import './modules/projetos.css';
@import './modules/skills.css';
@import './modules/contato.css';
@import './modules/footer.css';

@import './modules/menuMobile.css';
@import './modules/animations.css';
@import './modules/mobile.css';