#contato{
    width: 100%;
    height: auto;
    padding: 50px 0;
    background: var(--cinza);
    .container{
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            margin: 10px 0;
            font-size: 20px;
            font-family: 'Josefin Sans', sans-serif;
            color: var(--cinza-escuro);
            font-weight: 300;
        }
        li{
            font-size: 16px;
            margin: 10px;
            font-family: 'Josefin Sans', sans-serif;
            color: var(--cinza-escuro);
            text-align: center;
            font-weight: 300;
        }
        span{
            width: 10vw;
            border-bottom: 0.1em solid var(--cinza-escuro);
            margin: 25px 0;
        }
    }
}