*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}
:root{
    --cinza: #f2f2f2;
    --branco: #fff;
    --cinza-escuro: #4D4D4D;
}
body{
    background: var(--branco);
}