footer{
    background: var(--cinza-escuro);
    width: 100%;
    height: 15vh;
    .container{
        width: 100%;
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
            display: flex;
            flex-direction: row;
            li{
                padding: 0 20px;
                i{
                    color: var(--branco);
                    font-size: 24px;
                }
            }
        }
    }
}