header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #f2f2f2;
    background: var(--cinza);
    position: fixed;
    z-index: 999;
    transition: .6s;
    &.hd-Animated{
        height: 6vh;
    }
    h2{
        color: var(--cinza-escuro);
        letter-spacing: 5px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 300;
    }
    ul{
        display: flex;
        li + li{
            padding-left: 75px;
        }
        a{
            color: var(--cinza-escuro);
            font-size: 22px;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 300;
            position: relative;
            font-weight: 300;
            &:hover::after{
                transform: scale(1,1);
            }
            &::after{
                content: '';
                width: 100%;
                position: absolute;
                height: 1px;
                background: var(--cinza-escuro);
                left: 0;
                bottom: 0;
                transform: scale(0,1);
                transform-origin: 0% 100%;
                transition: transform .3s ease;
            }
        }
    }
}