main{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .parallax{
        height: 100vh;
        width: 100%;
        background: url(../img/bg1.jpg)no-repeat center fixed;
        margin: 0 auto;
    }
}