#projetos{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0;
    h1{
        font-family: 'Josefin Sans', sans-serif;
        margin-bottom: 50px;
        font-size: 24px;
        font-weight: 300;
    }
    .container{
        width: 90vw;
        justify-items: center;
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(450px,1fr));
        .projetos-card{
            animation: scaledown .1s linear;
            animation-fill-mode: forwards;
            img{
                width: 500px;
                height: 500px;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
            }
            &:hover{
                animation: scale .1s linear;
                animation-fill-mode: forwards;
            }
        }
    }
}
@keyframes scaledown{
    0%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}
/*550px*/
@media only screen and (max-width: 550px){
    #projetos .container{
        width: 99vw;
        .projetos-card img{
            height: 450px;
            width: 450px;
        }
    }
    main .parallax{
        background: url(../img/bg2.jpg)no-repeat fixed center;
    }
}
/*460px*/
@media only screen and (max-width: 460px){
    #projetos .container .projetos-card img{
        height: 300px;
        width: 300px;
    }
}
@media only screen and (max-width: 430px){
    #projetos .container{
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    }
}