/*1700px*/
@media only screen and (max-width: 1700px){
    .sobre p{
        width: 30vw;
    }
}
/*1250px*/
@media only screen and (max-width: 1250px){
    .sobre p{
        width: 40vw;
    }
}
/*950px*/
@media only screen and (max-width: 950px){
    .sobre p{
        width: 50vw;
    }
}
/*750px*/
@media only screen and (max-width: 750px){
    .sobre p{
        width: 70vw;
    }
}
/*550px*/
@media only screen and (max-width: 550px){
    #projetos .container{
        width: 99vw;
    }
    #projetos .container .projetos-card img{
        height: 450px;
        width: 450px;
    }
    main .parallax{
        background: url(../../img/bg2.jpg)no-repeat fixed center;
    }
}
/*460px*/
@media only screen and (max-width: 460px){
    #projetos .container .projetos-card img{
        height: 300px;
        width: 300px;
    }
}
@media only screen and (max-width: 430px){
    #projetos .container{
        grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    }
}