#trabalhos{
    .container{
        padding: 50px 0;
        background: #F3F3F3;
        h2{
            text-align: center;
            font-family: 'Rubik', sans-serif;
            font-weight: 500;
            font-size: 18px;
            margin-bottom: 50px;
        }
    }
    .arrow-nav{
        width: 100%;
        height: auto;
        padding: 20px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        button{
            width: 50px;
            height: 25px;
            border-radius: 5px;
            background: #fafafa;
            border: 1px solid rgba(0,0,0,.1);
            margin-top: 40px;
            transition: .3s;
            cursor: pointer;
            &:hover{
                background: rgba(0,0,0,.1);
                color: #fff
            }
        }
        button + button{
            margin-left: 50px;
        }
        i{
            font-size: 12px;
        }
    }
}
/*Slide*/
#trabalhos .slide-wrapper{
    overflow: hidden;
    .slide{
        display: flex;
        &:hover{
            will-change: transform;
        }
    }
    ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        li{
            flex-shrink: 0;
            margin: 0 20px;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0,0,0,.4);
            opacity: .8;
            transform: scale(.8);
            transition: .4s;
            &.active{
                opacity: 1;
                transform: scale(1);
            }
        }
    }
    img {
        display: block;
        height: 500px;
        width: 500px;
    }
}