#abbout{
    margin: 50px 0;
}
#abbout .container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f3f3;
    padding: 50px 0;
}
#abbout .img{
    height: 600px;
    width: 500px;
}
#abbout .img img{
    height: 600px;
    width: 500px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0,.2);
}
#abbout .img img{
    animation: scaledown .1s linear;
    animation-fill-mode: forwards;
}
#abbout .img img:hover{
    animation: scale .1s linear;
    animation-fill-mode: forwards;
}
@keyframes scaledown{
    0%{
        transform: scale(1.05);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}
#abbout .text{
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#abbout .text h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
#abbout .text p{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    width: 80%;
    line-height: calc(14px * 1.5);
}
#abbout .text p+p{
    margin-bottom: 10px;
}
#abbout .text ul{
    margin-top: 10px;
}
#abbout .text li{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 0 10px;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 20px 0;
}
#abbout .text li span.circle{
    background: #000;
    display: inline-block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 2px;
}