#contato{
    margin: 50px 0 0 0;
}
#contato .container{
    background: #F3F3F3;
    padding: 50px 0;
}
#contato .orcamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 50px 0;
}
#contato .orcamento h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 18px;
}
#contato .orcamento p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
}
#contato .li{
    margin: 50px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contato .li .li-container{   
    padding: 0 100px 0 100px;
}
#contato .li .li-container+.li-container{
    border-left: 1px solid rgba(0,0,0,.5);
}
#contato .li .li-container h2{
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}
#contato .li .li-container li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(14px * 1.5);
    text-align: center;
}
#contato .li .li-container li i{
    color: #000;
    font-size: 18px;
}