*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    /*
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    */
}
body{
    background-color: #fff;
}