header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #1a1a1a;
}
header h2{
    color: #fff;
    letter-spacing: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
}
header ul{
    display: flex;
}
header li + li{
    padding-left: 75px;
}
header a{
    color: #fff;
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    position: relative;
}
header a::after{
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    background: #fff;
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform .3s ease;
}
header a:hover::after{
    transform: scale(1,1);
}
#btn-mobile{
    display: none;
}