header{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1a1a1a;
}
header ul{
    display: flex;
}
header li + li{
    padding-left: 75px;
}
header a{
    color: #fff;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    position: relative;
}
header a::after{
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
    background: #fff;
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transform-origin: 0% 100%;
    transition: transform .3s ease;
}
header a:hover::after{
    transform: scale(1,1);
}