/*1300*/
@media only screen and (max-width: 1300px){
    #contato .li{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #contato .li .li-container+.li-container{
        border-left: none;
        margin-top: 40px;
    }
}
/*850px*/
@media only screen and (max-width: 850px){
    #abbout .container{
        flex-direction: column;
    }
}
/*770*/
@media only screen and (max-width: 770px){
    #sobre .container{
        width: 100%;
        height: 89.5vh;
        background: url(../../img/bg\ croped.jpg)no-repeat center;
        background-size: 100vw 89.5vh;
    }
    #sobre img{
        display: none;
    }
}
/*550*/
@media only screen and (max-width: 550px){
    header li + li{
        padding-left: 50px;
    }
}
/*515*/
@media only screen and (max-width: 515px){
    #abbout .img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #abbout .img img{
        height: 500px;
        width: 400px;
    }
    #abbout .text{
        width: 95%;
    }
}
/*450*/
@media only screen and (max-width: 450px){
    header li + li{
        padding-left: 30px;
    }
    header a{
        font-size: 16px;
    }
}
/*410*/
@media only screen and (max-width: 410px){
    #abbout .img img{
        height: 500px;
        width: 99%;
    }
}
/*400*/
@media only screen and (max-width: 400px){
    #sobre .container{
        background-size: 100vw 89.5vh;
    }
}
/*330*/
@media only screen and (max-width: 330px){
    header a{
        font-size: 0.8em;
    }
}