/*1300*/
@media only screen and (max-width: 1300px){
    #contato .li{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #contato .li .li-container+.li-container{
        border-left: none;
        margin-top: 40px;
    }
}
/*1100*/
@media only screen and (max-width: 1100px){
    /*#sobre{
        background: url(../../img/bg.svg)no-repeat center fixed;
        background
    }
    #sobre .container{
    }
    #sobre img{
        display: none;
    }*/
}
/*850px*/
@media only screen and (max-width: 850px){
    #abbout .container{
        flex-direction: column;
    }
}
/*550*/
@media only screen and (max-width: 550px){
    header li + li{
        padding-left: 50px;
    }
}
/*515*/
@media only screen and (max-width: 515px){
    #abbout .img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    #abbout .img img{
        height: 500px;
        width: 400px;
    }
    #abbout .text{
        width: 95%;
    }
}
/*450*/
@media only screen and (max-width: 450px){
    header li + li{
        padding-left: 30px;
    }
    header a{
        font-size: 16px;
    }
}
/*410*/
@media only screen and (max-width: 410px){
    #abbout .img img{
        height: 500px;
        width: 99%;
    }
}