/*1100*/
@media only screen and (max-width: 1100px){
    #sobre{
        background: url(../../img/bg.svg) center;
    }
    #sobre .container{
    }
    #sobre img{
        display: none;
    }
}
/*850px*/
@media only screen and (max-width: 850px){
    #abbout .container{
        flex-direction: column;
    }
}
/*550*/
@media only screen and (max-width: 550px){
    header li + li{
        padding-left: 50px;
    }
}
/*515*/
@media only screen and (max-width: 515px){
    #abbout .img{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #abbout .img img{
        height: 500px;
        width: 400px;
    }
}
/*450*/
@media only screen and (max-width: 450px){
    header li + li{
        padding-left: 30px;
    }
    header a{
        font-size: 16px;
    }
}
/*400*/
@media only screen and (max-width: 400px){
    #abbout .img{
        height: 500px;
        width: 400px;
    }
    #abbout .img img{
        height: 400px;
        width: 300px;
    }
    #abbout .text p{
        width: 90vw;
    }
}