#trabalhos .container{
    padding: 50px 0;
    background: #F3F3F3;
}
#trabalhos .container h2{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 50px;
}
/*Slide*/
#trabalhos .slide-wrapper{
    overflow: hidden;
}
#trabalhos .slide{
    display: flex;
}
#trabalhos .slide:hover{
    will-change: transform;
}
#trabalhos ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
#trabalhos .slide li{
    flex-shrink: 0;
    margin: 0 20px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,.4);
    opacity: .8;
    transform: scale(.8);
    transition: .4s;
}
#trabalhos .slide li.active{
    opacity: 1;
    transform: scale(1);
}
#trabalhos img {
    display: block;
    height: 500px;
    width: 500px;
}
/*Slide*/